name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        fess-version:
          - fess_version: "14.19.2"
            opensearch_version: "2.19.1"
          - fess_version: "15.4.0"
            opensearch_version: "3.3.2"

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
    - name: Install uv
      run: pip install uv
    - name: Install dependencies
      run: uv sync --extra dev
    - name: Run tests with Fess ${{ matrix.fess-version.fess_version }} & OpenSearch ${{ matrix.fess-version.opensearch_version }}
      env:
        FESS_VERSION: ${{ matrix.fess-version.fess_version }}
        OPENSEARCH_VERSION: ${{ matrix.fess-version.opensearch_version }}
      run: uv run pytest tests
